{{#> www/page }}

{{#*inline "head-block"}}
<meta name="robots" content="noindex, nofollow">
{{/inline}}

{{#*inline "body-block"}}
<h1>
  Page not found
</h1>
<p>
  Please, use the side navigation to find the page you are looking for.
</p>
{{/inline}}

{{/www/page}}
