{{#> www/page }}

{{#*inline "head-block"}}
<meta name="robots" content="noindex, nofollow">
{{/inline}}

{{#*inline "body-block"}}

<h3 class="text-center">
  <b>Page not found!</b>
</h3>

<p class="text-center">
  Please, use the side navigation to find the page you are looking for.
</p>

{{/inline}}

{{/www/page}}
