{{#> www/page }}

{{#*inline "body-block"}}

<p>
  Major versions of CronQuery only support the current versions of .NET Long Term Support (LTS).
</p>

<h2 id="releases" class="text-center">
  <a href="#releases">#</a> Releases
</h2>

<p>
  The changes and breaking changes for each release are documented on the
  <a href="https://github.com/marxjmoura/cronquery/releases">GitHub release notes page</a>.
</p>

<div class="table-responsive">
  <table>
    <thead>
      <th>Version</th>
      <th>Target Framework</th>
      <th>Release Month</th>
    </thead>
    <tbody>
      <tr>
        <td><code>v3.x</code></td>
        <td><code>.NET 6</code></td>
        <td>April, 2023</td>
      </tr>
      <tr>
        <td><code>v2.x</code></td>
        <td><code>.NET Core 3.1</code></td>
        <td>March, 2020</td>
      </tr>
      <tr>
        <td><code>v1.x</code></td>
        <td><code>.NET Core 2.2</code></td>
        <td>January, 2019</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="callout">
  Install previous versions of <a href="https://www.nuget.org/packages/CronQuery">CronQuery</a>
  if you need to use end-of-life versions of .NET
</div>

{{/inline}}

{{/www/page}}
