version : 2.1

executors:
  ubuntu:
    machine:
      image: circleci/classic:latest

jobs:
  build:
    executor: ubuntu
    steps:
      - checkout
      - run: ./tools/install-dotnet.sh 3.1.201
      - run: ./tools/test.sh
      - run: curl -s https://codecov.io/bash > ./codecov
      - run: chmod +x ./codecov
      - run: ./codecov -f "./src/tests/coverage/opencover.xml" -t $CODECOV_TOKEN
      - store_artifacts:
          path: src/tests/coverage/report
          destination: coverage
  deploy:
    executor: ubuntu
    steps:
      - checkout
      - run: ./tools/install-dotnet.sh 3.1.201
      - run: dotnet pack src/CronQuery.API/CronQuery.API.csproj -o dist
      - run: dotnet nuget push dist/CronQuery.${CIRCLE_TAG/v/}.nupkg -k $NUGET_TOKEN -s https://api.nuget.org/v3/index.json

workflows:
  version: 2.1
  build_and_deploy:
    jobs:
      - build:
          filters:
            tags:
              only: /.*/
      - deploy:
          requires:
            - build
          filters:
            tags:
              only: /^v\d\.\d\.\d/
            branches:
              ignore: /.*/
