@font-face {
  font-family: "Maven Pro";
  src: url("/fonts/MavenPro-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Maven Pro";
  src: url("/fonts/MavenPro-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Maven Pro";
  src: url("/fonts/MavenPro-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Maven Pro";
  src: url("/fonts/MavenPro-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Maven Pro";
  src: url("/fonts/MavenPro-ExtraBold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: "Maven Pro";
  src: url("/fonts/MavenPro-Black.ttf");
  font-weight: 900;
}
