header {
  background-color: red;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;;
  align-items: center;
  padding: 0 1rem;
  height: $header-height;
  border-bottom: $border-width $border-color solid;
  background-color: $white;
  z-index: $zindex-fixed;

  a,
  a:active,
  a:hover,
  a:focus,
  a:visited {
    color: $body-color;
    font-size: 1.3rem;
  }
}
