header {
  background-color: red;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;;
  align-items: center;
  font-size: 1.3rem;
  padding: 0 1rem;
  height: $header-height;
  border-bottom: $border-width $border-color solid;
  background-color: $white;
  z-index: $zindex-fixed;
}
