$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$white: #fff;
$dark: #282c34;
$primary: #5960a3;
$success: #2bbbad;
$warning: #ffbb33;
$danger: #ff3547;
$pink: #ec407a;

$body-color: #2c3e50;

$code-font-size: .85em;
$code-color: #476582;
$code-bg: #1b1f23;

$hljs-title: $white;
$hljs-attribute: $white;
$hljs-comment: $gray-500;
$hljs-string: #7ec699;
$hljs-keyword: #cc99cd;
$hljs-number: #f08d49;

$font-family-base: 'Maven Pro', sans-serif;
$font-size-base: 1rem;

$header-height: 3.6rem;
$page-max-width: 50rem;
$nav-width: 20rem;
